/*ANIMATIONS 

(the ones that need hovering are in the globals.css) */

/*********************************************** INTRO **************************************/

/*Logo*/

@keyframes loading-right {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.lineRight {
  transform-origin: right;
  animation: loading-right 1s ease-in-out 0s 1 normal forwards;
}

@keyframes loading-left {
  100% {
    transform: scaleX(1);
  }
  0% {
    transform: scaleX(0);
  }
}

.lineLeft {
  transform-origin: left;
  animation: loading-left 1s ease-in-out 0s 1 normal forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  opacity: 1;
  animation-name: fade-out;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/********************************************** HOME - Animations with delay ***************************************************/

/*Elements appearing*/

@keyframes go-down {
  0% {
    transform: translateY(-90px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.goDownHome1 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 1s;
  animation-delay: 0.6;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goDownHome2 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 1.2s;
  animation-delay: 0.6;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goDownHome3 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 1.4s;
  animation-delay: 0.6;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goDownHome4 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 1.6s;
  animation-delay: 0.6;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes go-up {
  0% {
    transform: translateY(90px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.goUpHome {
  opacity: 0;
  animation-name: go-up;
  animation-duration: 1s;
  animation-delay: 0.6;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/*Links when hovered*/

@keyframes loading-left {
  100% {
    transform: scaleX(1);
  }
  0% {
    transform: scaleX(0);
  }
}

.linklineLeft {
  transform-origin: left;
  animation: loading-left 0.5s ease-in-out 0s 1 normal forwards;
}

/*Hamburger & Logo*/

@keyframes rotate-when-hovered {
  100% {
    transform: rotate(360deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

.rotateWhenHovered:hover {
  transform-origin: center;
  animation: rotate-when-hovered 0.5s ease-in-out 0s 1 normal forwards;
}

/********************************************* Animations without delay ****************************************************/

/* Links appearing */

.goDown1 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 0.8s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goDown2 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 1s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goDown3 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 1.2s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goDown4 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 1.4s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goUp1 {
  opacity: 0;
  animation-name: go-up;
  animation-duration: 0.8s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goUp2 {
  opacity: 0;
  animation-name: go-up;
  animation-duration: 1s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goUp3 {
  opacity: 0;
  animation-name: go-up;
  animation-duration: 1.2s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goUp4 {
  opacity: 0;
  animation-name: go-up;
  animation-duration: 1.4s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/* Links disappearig when clicking the menu button */

@keyframes leave-page-up {
  0% {
    transform: translateY(0px);
    opacity: 100%;
  }
  100% {
    transform: translateY(-90px);
    opacity: 0;
  }
}

.leavePage1 {
  opacity: 100%;
  animation-name: leave-page-up;
  animation-duration: 0.8s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.leavePage2 {
  opacity: 100%;
  animation-name: leave-page-up;
  animation-duration: 1s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.leavePage3 {
  opacity: 100%;
  animation-name: leave-page-up;
  animation-duration: 1.2s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.leavePage4 {
  opacity: 100%;
  animation-name: leave-page-up;
  animation-duration: 1.4s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes leave-page-down {
  0% {
    transform: translateY(0px);
    opacity: 100%;
  }
  100% {
    transform: translateY(90px);
    opacity: 0;
  }
}

.leavePageDown1 {
  opacity: 100%;
  animation-name: leave-page-down;
  animation-duration: 0.8s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.leavePageDown2 {
  opacity: 100%;
  animation-name: leave-page-down;
  animation-duration: 1s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.leavePageDown3 {
  opacity: 100%;
  animation-name: leave-page-down;
  animation-duration: 1.2s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.leavePageDown4 {
  opacity: 100%;
  animation-name: leave-page-down;
  animation-duration: 1.4s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/* BLOG LIST */

@keyframes arrow-go-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.arrowGoUp {
  opacity: 0;
  animation-name: arrow-go-up;
  animation-duration: 0.4s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
