/*ANIMATIONS 

(the ones that need hovering are in the globals.css) */

/*********************************************** INTRO **************************************/

/*Logo*/

@keyframes loading-right {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.lineRight {
  transform-origin: right;
  animation: loading-right 1s ease-in-out 0s 1 normal forwards;
}

@keyframes loading-left {
  100% {
    transform: scaleX(1);
  }
  0% {
    transform: scaleX(0);
  }
}

.lineLeft {
  transform-origin: left;
  animation: loading-left 1s ease-in-out 0s 1 normal forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  opacity: 1;
  animation-name: fade-out;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/********************************************** HOME ***************************************************/

/*Elements appearing*/

@keyframes go-down {
  0% {
    transform: translateY(-90px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.goDown1 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goDown2 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 1.2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goDown3 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 1.4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goDown4 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 1.6s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes go-up {
  0% {
    transform: translateY(90px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.goUp {
  opacity: 0;
  animation-name: go-up;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/*Links when hovered*/

@keyframes loading-left {
  100% {
    transform: scaleX(1);
  }
  0% {
    transform: scaleX(0);
  }
}

.linklineLeft {
  transform-origin: left;
  animation: loading-left 0.5s ease-in-out 0s 1 normal forwards;
}

/*Hamburger & Logo*/

@keyframes rotate-when-hovered {
  100% {
    transform: rotate(360deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

.rotateWhenHovered:hover {
  transform-origin: center;
  animation: rotate-when-hovered 0.5s ease-in-out 0s 1 normal forwards;
}

/********************************************* MENU ****************************************************/

/* Menu links appearing */

.goDownMenu1 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 0.8s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goDownMenu2 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 1s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goDownMenu3 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 1.2s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.goDownMenu4 {
  opacity: 0;
  animation-name: go-down;
  animation-duration: 1.4s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
