@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #11101d;
  cursor: crosshair;
}

body {
  overflow: hidden;
  cursor: crosshair;
}

* {
  scroll-behavior: smooth;
  /* cursor: none; */
  color: transparent;
}

@layer utilities {
  /*GENERAL */

  .container {
    @apply max-w-[1440px] min-h-screen mx-auto;
  }

  .paddingXNavbar {
    @apply px-[30px];
  }

  .paddingYNavbar {
    @apply sm:pt-[10px] md:pt-[20px] lg:pt-[30px] xl:pt-[40px];
  }

  .paddingYNavbarMenu {
    @apply sm:pt-[0px] md:pt-[4px] lg:pt-[14px] xl:pt-[24px];
  }

  .paddingXBody {
    @apply px-[25px];
  }

  .flexCenter {
    @apply flex justify-center items-center;
  }

  .flexCol {
    @apply flex flex-col justify-center items-center;
  }

  /*TEXT */

  .intro {
    @apply font-source text-secondary lg:text-[40px] md:text-[30px] text-[20px] font-bold tracking-tighter;
  }

  .logo {
    @apply font-source  text-secondary dark:text-primary sm:text-[70px] text-[40px] font-semibold;
  }

  .heading1 {
    @apply font-source xl:text-[45px] text-[30px] text-center xl:leading-[40px] leading-[30px] font-bold tracking-tight xl:tracking-normal;
  }

  .heading2 {
    @apply font-source xl:text-[25px] text-[15px] text-center xl:leading-[30px] leading-[20px] font-normal;
  }

  .links {
    @apply font-source text-secondary dark:text-primary xl:text-[30px] text-[20px] text-center font-bold xl:tracking-normal tracking-tight;
  }
}

/************************************************* ANIMATIONS *************************************************/

/*The animations that don't need hovering are in animations.module.css*/

/* HOME*/

/*Animation lines under the home links*/

.linksUnderlinesBlack::after {
  content: "";
  position: absolute;
  background-color: #11101d;
  right: 0;
  bottom: -1px;
  width: 90%;
  height: 4.5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.linksUnderlinesWhite::after {
  content: "";
  position: absolute;
  background-color: #bab6e4;
  right: 0;
  bottom: -1px;
  width: 90%;
  height: 3px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

@keyframes loading-left {
  100% {
    transform: scaleX(1);
  }
  0% {
    transform: scaleX(0);
  }
}

.linksUnderlinesWhite:hover::after {
  opacity: 1;
  transform-origin: left;
  animation: loading-left 0.4s ease-in-out 0s 1 normal forwards;
}

.linksUnderlinesBlack:hover::after {
  opacity: 1;
  transform-origin: left;
  animation: loading-left 0.4s ease-in-out 0s 1 normal forwards;
}

@media (min-width: 1280px) {
  .linksUnderlinesWhite::after,
  .linksUnderlinesBlack::after {
    height: 5px;
    bottom: -7px;
  }
}

/*MENU*/

/*Animation lines under the menu links*/

.linksUnderlinesMenuWhite::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 700px;
  height: 4.5px;
  background-color: rgb(186 182 228);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.linksUnderlinesMenuBlack::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 700px;
  height: 4.5px;
  background-color: #11101d;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.linksUnderlinesMenuWhite:hover::after,
.linksUnderlinesMenuBlack:hover::after {
  opacity: 1;
  transform-origin: left;
  animation: loading-left 0.4s ease-in-out 0s 1 normal forwards;
}

@media (min-width: 1280px) {
  .linksUnderlinesMenuWhite:hover::after,
  .linksUnderlinesMenuBlack:hover::after {
    height: 7px;
    bottom: -7px;
  }
}

/*MOUSE BALL */

@keyframes fade-in-ball {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursor {
  opacity: 0;
  animation-name: fade-in-ball;
  animation-duration: 1.6s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 3;
}

@media (max-width: 640px) {
  .cursor {
    height: 0px;
    width: 0px;
    border-radius: 0%;
    display: hidden;
    position: unset;
    top: -100;
  }
}

/*MENU */

.menu-expanded {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1;
  width: 100%;
}

.navbar-index {
  z-index: 2;
}

/***/

/* I AM TRYING TO HAVE ANIMATION WHEN UNMOUNTING, JUST USING CSS */

@keyframes logo-enter {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes logo-exit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

.logo-enter {
  animation: logo-enter 1000ms;
}

.logo-exit {
  animation: logo-exit 1000ms;
}
