@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #11101d;
}

body {
  overflow: hidden;
}

* {
  scroll-behavior: smooth;
}

color {
  color: #bab6e4;
}

@layer utilities {
  /*GENERAL */

  .container {
    @apply max-w-7xl min-h-screen mx-auto;
  }

  .flexCenter {
    @apply flex justify-center items-center;
  }

  /*TEXT */

  .intro {
    @apply font-source text-secondary lg:text-[60px] md:text-[40px] text-[20px] font-bold tracking-tighter;
  }

  .logo {
    @apply font-source  text-secondary text-[70px] font-semibold;
  }

  .heading1 {
    @apply font-source text-secondary text-[45px] text-center leading-[40px] font-bold;
  }

  .heading2 {
    @apply font-source text-secondary text-[25px]  text-center leading-[30px] font-normal;
  }

  /*NAVBAR  */
}
