@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #11101d;
}

body {
  overflow: hidden;
}

* {
  scroll-behavior: smooth;
}

color {
  color: #bab6e4;
}

@layer utilities {
  /*GENERAL */

  .container {
    @apply max-w-7xl min-h-screen mx-auto;
  }

  .padding {
    @apply xl:px-0 px-4;
  }

  .flexCenter {
    @apply flex justify-center items-center;
  }

  /*TEXT */

  .intro {
    @apply font-source text-secondary lg:text-[40px] md:text-[30px] text-[20px] font-bold tracking-tighter;
  }

  .logo {
    @apply font-source  text-white text-[80px] font-semibold;
  }

  .heading1 {
    @apply font-source text-secondary text-[45px] text-center leading-[40px] font-bold;
  }

  .heading2 {
    @apply font-source text-secondary text-[25px]  text-center leading-[30px] font-normal;
  }

  .links {
    @apply font-source text-secondary text-[25px] text-center leading-[30px] font-bold;
  }
}

/*Animation lines under the home links*/

.linksUnderlines::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 90%;
  height: 5px;
  background-color: rgb(186 182 228);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

@keyframes loading-left {
  100% {
    transform: scaleX(1);
  }
  0% {
    transform: scaleX(0);
  }
}

.linksUnderlines:hover::after {
  opacity: 1;
  transform-origin: left;
  animation: loading-left 0.8s ease-in-out 0s 1 normal forwards;
}

/*MOUSE BALL */

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.ball {
  z-index: 10;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0);
  border: 1px solid rgb(186 182 228);
  pointer-events: none;
  transition: transform 0.2s ease-in-out;
}
